<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css" type="text/css">
    <title>ICT 4370 Stock Information</title>
</head>
<body>

    {# Navigation #}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">ICT 4370 Stocks Info</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Stocks <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="bonds.html">Bonds</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="investors.html">Investors</a>
                </li>
            </ul>
        </div>
    </nav>
    {# End of Navigation #}


    <br>
    <!-- Output -->
    <div class="container">

        <h1 class="text-success">Stock Information</h1>


        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Stock</th>
                <th scope="col">ID</th>
                <th scope="col">Symbol</th>
                <th scope="col">Shares Owned</th>
                <th scope="col">Purchase Price</th>
                <th scope="col">Current Price</th>
                <th scope="col">Purchase Date</th>
            </tr>
            </thead>
            <tbody>
            {# Google #}
            <tr class="table-success">
                <th scope="row">GOOG</th>
                {% for goog_info in google_stock %}
                <td>{{ goog_info }}</td>
                {% endfor %}
            </tr>
            {# Microsoft #}
            <tr class="table-primary">
                <th scope="row">MSFT</th>
                {% for msft_info in msft_stock %}
                <td>{{ msft_info }}</td>
                {% endfor %}
            </tr>
            {# RDS-A #}
            <tr class="table-success">
                <th scope="row">RDS-A</th>
                {% for rds_a_info in rds_a_stock %}
                <td>{{ rds_a_info }}</td>
                {% endfor %}
            </tr>
            {# AIG #}
            <tr class="table-primary">
                <th scope="row">AIG</th>
                {% for aig_info in aig_stock %}
                <td>{{ aig_info }}</td>
                {% endfor %}
            </tr>
            {# Facebook #}
            <tr class="table-success">
                <th scope="row">FB</th>
                {% for fb_info in fb_stock %}
                <td>{{ fb_info }}</td>
                {% endfor %}
            </tr>
            {# M #}
            <tr class="table-primary">
                <th scope="row">M</th>
                {% for m_info in m_stock %}
                <td>{{ m_info }}</td>
                {% endfor %}
            </tr>
            {# F #}
            <tr class="table-success">
                <th scope="row">F</th>
                {% for f_info in f_stock %}
                <td>{{ f_info }}</td>
                {% endfor %}
            </tr>
            {# IBM #}
            <tr class="table-primary">
                <th scope="row">IBM</th>
                {% for ibm_info in ibm_stock %}
                <td>{{ ibm_info }}</td>
                {% endfor %}
            </tr>
            {# APPLE #}
            <tr class="table-success">
                <th scope="row">APPL</th>
                {% for appl_info in appl_stock %}
                <td>{{ appl_info }}</td>
                {% endfor %}
            </tr>

            </tbody>
        </table>

    </div>

<!-- Bootstrap Scripts -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>