<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css" type="text/css">
    <title>ICT 4370 Investors Information</title>
</head>
<body>

    {# Navigation #}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">ICT 4370 Investors Info</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ home_page }}">Stocks <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ bonds_page }}">Bonds</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ investors_page }}">Investors</a>
                </li>
            </ul>
        </div>
    </nav>
    {# End of Navigation #}


    <br>
    <!-- Output -->
    <div class="container">

        <h1 class="text-success">Investors Information</h1>


        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Full Name</th>
                <th scope="col">Home Address</th>
                <th scope="col">Phone Number</th>
            </tr>
            </thead>
            <tbody>
            {# Bond One #}
            <tr class="table-success">
                {% for investor_info in investor_one %}
                    <td>{{ investor_info }}</td>
                {% endfor %}
            </tr>
            <tr class="table-primary">
                {% for investor_info in investor_two %}
                <td>{{ investor_info }}</td>
                {% endfor %}
            </tr>
            </tbody>
        </table>

    </div>

<!-- Bootstrap Scripts -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>