{% extends 'base.html' %}


{% block body %}

<br>
<div class="container">
    <h1>Current Orders</h1>

    <br>

    {% block orders %}
    <ul class="list-group header" style="list-style: none">
        {% for topping in all_toppings %}
            <br>
            <li><a class="list-group-item list-group-item-action active" href="/orders/{{ topping.pk }}/">Order: {{ topping.pk }} | Order: {{ topping.pizza }}</a></li>
            <br>
            <b><p>Order {{ topping.pk }} From: {{ topping.name }}</p></b>
        {% endfor %}
    </ul>
    {% endblock %}
</div>

{% endblock %}