{% extends 'base.html' %}

{% block body %}

<div class="container">

    <br>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Welcome to Eric Zorn's Pizzeria</h1>
            <hr class="my-4">
            <h4 class="lead">{{ intro_description }}</h4>
        </div>
    </div>

    <br>

    <form action="/orders/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="fullName">{{ names }}</label>
            <input type="text" class="form-control" id="fullName" placeholder="{{ names }}" name="full_name">
        </div>
        <div class="form-group">
            <label for="orders">{{ orders }}</label>
            <input type="text" class="form-control" id="orders" placeholder="{{ orders }}" name="pizza_order">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


    <br><br>


    <!--<form action="/orders/" method="post" class="form-group">-->
        <!--{% csrf_token %}-->
        <!--{{ form }}-->
        <!--<input type="submit" value="Submit" class="btn btn-danger" />-->
    <!--</form>-->

    <form action="/orders/" method="post" class="form-group">
        {% csrf_token %}
        {{ form_second }}
        <input type="submit" value="Submit" class="btn btn-primary" />
    </form>

</div>

{% endblock %}




